:root{
    --purple_navy:#425C81;
    --crystal:#A5D4DE;
    --cultured:#F3F4F9;
    --azureish_white:#D8E3E9;
    --bsale: #FF6815;
    --discount: #0C7724;
}

body{
    background-color: var(--cultured);
}