.categories-options{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: .5rem 1rem;
    position: fixed;
    top: 7.5%;
    left: 24%;
}
.categories-options label{
    cursor: pointer;
}
.categories-options--item:nth-of-type(n+2){
    margin-top: .5rem;
}

.categories-options--item{
    align-items: center;
    display: flex;
    gap: .25rem;
}

.category-input{
    appearance: none;
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border:1px solid var(--purple_navy);
    border-radius: 4px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--azureish_white);
    opacity: 50%;
    cursor: pointer;
}

.category-input:hover{
    opacity: 100%;
}

.category-input:before{
    font-family: var(--logo);
    content:"X";
    font-size: 9px;
    font-weight: 900;
    display: block;
    display: none;
    color: white;
}

.category-input:checked{
    background-color: var(--bsale);
    opacity: 100%;
}

.category-input:checked::before{
    display: block;
}