.categories-options{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: .5rem 1rem;
    position: fixed;
    top: 7.5%;
    left: 24%;
}