.navbar{
    align-items: center;
    background-color: var(--crystal);
    display: flex;
    justify-content: space-around;
    padding: .5rem 1rem;
    position: relative;
    height: 80px;
}

.logo{
    font-family: var(--logo);
    font-size:1.5rem;
    color: var(--bsale);
}