.products-list{
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
    margin: 1rem auto 2rem auto;
    justify-items: center;
}

#products-count{
    text-align: center;
    font-size:1.5rem;
    color: var(--purple_navy);
    margin-top: .5rem;
}

.product-container{
    max-height: 380px;
    width: 300px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: var(--azureish_white);
}

.product-container img{
    height: 270px;
    width: 300px;
}

.product-container--image-info{
    position: relative;
    display: inline-block;
}

#product-container--info{
    color: var(--discount);
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2rem;
    z-index:1;
}

.product-container--price-name{
    padding: 0 1rem;
    background-color: var(--azureish_white);
}

#name{
    font-size: 1.3rem;
    font-weight: bolder;
}

#price{
    font-size: 1.2rem;
    font-weight: bold;
}